<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>
</head>

<body>
  <h1 style="color: blue">Capstone Project : Udacity Cloud Devops Engineer</h1>
  <p> Jenkinse: @BuildNumber@</p>
  <p> Git Repo Vresion: @GIT_COMMIT@</p>
  <p> Source Code : <a href="https://github.com/shijujohn1093/sj-udacity-devops-final">shijujohn1093/sj-udacity-devops-final</a></p>
</body>

</html>